.banner-container{
    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    font-family: cursive;
    opacity: 0.8;
  
}

.banner-btn{
    background-color: rgba(121, 16, 51, 0.849);
    color: aliceblue;
    font-weight: 700;  
    border-radius: 10px;
}
.banner-btn:hover{
    
        transform: scale(1.1);
        transition: transform 2s ease-in-out;
}
.text{
    color: rgba(202, 8, 73, 0.849);
    font-weight: 700;
}