.camp{
    font-family: cursive;
}
.camp-icons{
    color: rgb(68, 7, 58);
}
.icons-div{
    background-color: #f1edf0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(216, 211, 216);

}
.camp-icons:hover{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
    color: rgb(238, 159, 185);
}