
.service-style{
    font-weight: 600;
    padding: 25px;
    margin: 5px;
    margin-bottom: 0;
    height: 95%; 
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(148, 114, 182, 0.582);
    border-radius:10px ;
    font-family: cursive;
}
.title{
    color: rgb(96, 128, 199);
}
.service{
    overflow: hidden;
height: 100%;
}
.btn-service{
    background-color: rgba(44, 85, 139, 0.938);
    color: rgb(250, 241, 246);
    border: none;
    border-radius: 8px 5px;
    box-shadow: 5px 6px rgba(139, 110, 156, 0.596);
    
    
}
.infos{
    text-align: center;
    color: rgba(122, 72, 102, 0.877);
    font-weight: 900;
}
.btn-div{
    padding: 4%;
}
/* myorders styless */
.allservices{
    background-color: rgba(27, 46, 75, 0.938);
    color: rgb(250, 241, 246);
    border: none;
    border-radius: 8px 5px;
    box-shadow: 5px 6px rgba(139, 110, 156, 0.596);
}