.footer{
    font-family:cursive;

    background-color: rgba(226, 245, 255, 0.945);
}

.footer-list{
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-right: 15px;
    opacity: .8;

}

.icons{
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(6, 25, 37);
    font-size: 30px;
}
.icons:hover{
    color:rgb(240, 149, 179)
}