.album {
    display: flex;
     flex-wrap: wrap;

}

.frame {
    width: 300px;
    height: 200px;
    border: 2px solid pink;
    border-radius: 10px;
    position: relative;
    margin: 2%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(51, 47, 47);
}

.photo{
    border-radius: 10px;
}
.detail p {
    color: rgb(247, 243, 247)
}

.detail {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
}

.frame:hover .detail {
    display: block;
    background-color: rgb(8, 61, 97);
    width: 99%;
}

.frame:hover .photo {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;

}